diffusers/examples/text_to_image/plantVillage_text2image_/checkpoint-2500/pytorch_lora_weights.safetensors filter=lfs diff=lfs merge=lfs -text
diffusers/examples/text_to_image/plantVillage_text2image_perceptual_loss/checkpoint-2500/pytorch_lora_weights.safetensors filter=lfs diff=lfs merge=lfs -text
diffusers/examples/text_to_image/plantVillage_text2image_lpips_l1/checkpoint-2500/pytorch_lora_weights.safetensors filter=lfs diff=lfs merge=lfs -text
diffusers/examples/text_to_image/plantVillage_text2image_lpips_l1_lr1e-5_l2_2000/checkpoint-2500/pytorch_lora_weights.safetensors filter=lfs diff=lfs merge=lfs -text
stylegan2/plantvillage/00005-PlantVillage-cond-auto4/network-snapshot-023788.pkl filter=lfs diff=lfs merge=lfs -text
weights/inceptionv3_classifier.pt filter=lfs diff=lfs merge=lfs -text
